<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <appSettings>
        <add key="parentTable" value="Customers" />
        <add key="parentSelect" value="SELECT customer_id, name, fidelity_points, email FROM Customers"/>
        <add key="pk_field" value="customer_id"/>
        <add key="childTable" value="Orders" />
        <add key="childSelect" value="SELECT order_id, customer_id, date, employee_helper_id, progress FROM Orders"/>
        <add key="fk_field" value="customer_id"/>
    </appSettings>
    <connectionStrings>
        <add name="DBMSLab.Properties.Settings.Electronics_ShopConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Electronics_Shop.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>